<mat-card style="background-color: rgb(250, 250, 255);margin-left: 20%;margin-right: 20%;margin-bottom: 0.2%;margin-top: 0.2%">


    <div class="col-sm" >
        <h1 style="font-size: 15pt;font-weight: bold;color: #757591;font-weight: bold">Education</h1>
        <ul>
            <li style="color: rgb(10, 10, 10);"><i class="fa fa-graduation-cap" style="font-size:35px"></i>BSc. in
                Management
                Information Systems,2021</li>
            <p style="color: #3d3e7a;">Ashesi University,Ghana</p>


            <li style="color: rgb(8, 8, 8);"><i class="fa fa-graduation-cap" style="font-size:25px"></i>A'Level
                Certificate in
                Mathematics Economics and Computer Science,2015</li>
            <p style="color: #3d3e7a;">Liquidnet Family High School @ASYV,Rwanda</p>

        </ul>
    </div>

    <hr>

        <h1 style="font-size: 15pt;font-weight: bold;color: #757591;font-weight: bold">Experience</h1>
        <div class="col-sm">
            <h1 style="font-size: 15pt;;color: #37373a;">Data Science and Business Analytics</h1>
            <ul>
                <p style="color: #3d3e7a;font-style: italic;"><i class="fa fa-map-marker"
                        style="font-size:14px;font-style: italic;"></i>Sparks Foundation,Singapore-Remote</p>
                <p style="color: #3d3e7a;font-style: italic;"><i class="far fa-clock"
                        style="font-size:14px;font-style: italic;"></i>Jun 2021-July 2021</p>
            
                <li style="color: rgb(0, 0, 0); ">Data Collection</li>
                <li style="color: rgb(0, 0, 0); ">Data Cleaning </li>
                <li style="color: rgb(0, 0, 0); ">Data Analysis and Presentation using Microsoft PowerBI</li>
        
            </ul>
   
        
        <div class="col-sm">
            <h1 style="font-size: 17pt;font-weight: bold;color: #C7C8F0;">Software Development Apprentice</h1>
            <ul>
                <p style="color: #3d3e7a;font-style: italic;"><i class="fa fa-map-marker"
                        style="font-size:17px;font-style: italic;"></i>Rohde & Schwarz,Rwanda</p>
                <li style="color: #3d3e7a;font-style: italic;"><i class="far fa-clock"
                        style="font-size:17px;font-style: italic;"></i>May 2021-Jun 2021</li>
                <br>
                <li style="color: white; ">Network Protocols and Linux basics</li>
                <li style="color: white; ">Python Development</li>
                <li style="color: white; ">Mobile Automation</li>
            </ul>
        </div>
    </div>

<hr>
    <div class="col-sm" >
        <h1 style="font-size: 15pt;font-weight: bold;color: #757591;font-weight: bold;">Tech Stacks</h1>
        <ul>
            <li style="color: rgb(10, 10, 10);"><i class="fa fa-graduation-cap" style="font-size:35px"></i>BSc. in
                Management
                Information Systems,2021</li>
            <p style="color: #3d3e7a;">Ashesi University,Ghana</p>
    
    
            <li style="color: rgb(8, 8, 8);"><i class="fa fa-graduation-cap" style="font-size:25px"></i>A'Level
                Certificate in
                Mathematics Economics and Computer Science,2015</li>
            <p style="color: #3d3e7a;">Liquidnet Family High School @ASYV,Rwanda</p>
    
        </ul>
    </div>
        


    <br>






</mat-card>