<mat-card style="background-color: rgb(234, 234, 240) ;height:3%">
    <mat-toolbar style="background-color: rgb(234, 234, 240);height:3%;margin-top: 0.5%;" >
    <h2>CARINE SEBARINDA IRADUKUNDA</h2>
    <div style="margin-left: 40%;">
        <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> HOME</a>
        <a mat-button routerLink="/about" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> ABOUT</a>
        <a mat-button routerLink="/projects" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> PROJECTS</a>
        <a mat-button routerLink="/contact" routerLinkActive="active"><span
                class="fa fa-address-card fa-lg"></span>CONTACT</a>

                <span class="flex-spacer"></span>
                <a mat-button style="margin-left: 30%;"><img src="../assets/images/dark.png" style="width:20px">Dark mode </a>

    </div>
</mat-toolbar>
</mat-card>