<mat-card style="margin:0.5% ;background-color:  rgb(234, 234, 240);height:25%" >

<!-- <div class="container footer" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center center"
    fxLayoutGap="10px" > -->

    <div fxFlex="50" fxFlex.gt-sm="50">
        <div fxLayout="row">
            <div fxFlex="40" fxFlexOffset="20px">
      
         
            </div>
            <div fxFlex="55">
                <h4 style="font-weight:bold"> Address</h4>
                <address style="font-size: 90%">
                    KN 137, Nyarugenge<br> Nyarugenge, Kigali<br> RWANDA<br>
                    <mat-icon> contact_phone</mat-icon>: +250 781 438 601<br>
                    <!-- <i class="fa fa-fax"></i>: +852 8765 4321<br> -->
                    <!-- <i class="fa fa-envelope"></i>: -->
                    <mat-icon>email</mat-icon>:
                    <a href="mailto:iradukundacarine14@gmail.com">iradukundacarine14@gmail.com</a>
                </address>
            </div>
        </div>
    </div>
    
    <div fxFlex="50" fxFlex.gt-sm="45">
        <div style="text-align:center">
            <p style="font-style: italic;">"Whatever you dream you can do, begin it. Boldness has genius, power and magic in it. Begin it now." – Johann Wolfgang von
            Goethe​.</p><br>
            <!-- <a mat-icon-button class="btn-google-plus" href="http://google.com/+" target="_blank"><i
                    class="fa fa-google-plus fa-lg"></i></a> -->
            <!-- <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id=" target="_blank"><i
                    class="fa fa-facebook fa-lg"></i></a> -->
            <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/in/carine-sebarinda-iradukunda/" target="_blank"><i
                    class="fa fa-linkedin fa-lg"></i></a>
            <a mat-icon-button class="btn-twitter" href="https://twitter.com/iraduku_k" target="_blank"><i class="fa fa-twitter fa-lg" ></i></a>
            <!-- <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"target="_blank"></i></a> -->
            <a mat-icon-button class="btn-mail" href="mailto:iradukundacarine14@gmail.com"><i class="fa fa-envelope-o fa-lg"></i></a>
        </div>
    </div>
    <div>
      
    </div>
<!-- </div> -->
</mat-card>

<mat-card style="background-color:rgb(166, 168, 196);margin-left: 20%;margin-right: 20%;margin-bottom: 5%;">
    <p style="font-weight: bold;color: black;text-align: center;">Done with much love by Carine S. Iradukunda <span
        style='font-size:40px;'>&#9749;</span></p></mat-card>

 


