<mat-toolbar style="background-color: rgb(201, 201, 238);" style="height: 20%;">
    <div class="example-button-row">
        <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> HOME</a>
        <a mat-button routerLink="/about" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> ABOUT</a>
        <a mat-button routerLink="/projects" routerLinkActive="active"><span class="fa fa-list fa-lg"></span>
            PROJECTS</a>
        <a mat-button routerLink="/contact" routerLinkActive="active"><span
                class="fa fa-address-card fa-lg"></span>CONTACT</a>

    </div>
</mat-toolbar>
<br>


<mat-card style="background-color:rgb(166, 168, 196);margin-left: 20%;margin-right: 20%;margin-bottom: 5%;">
    <p style="font-weight: bold;color: black;text-align: center;">Done with much love by Carine S. Iradukunda <span
        style='font-size:40px;'>&#9749;</span></p></mat-card>

        <br>


